body {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 1.9em;
    color: #444444;
    border: 1px #fff dashed;
    border-radius: 25px;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background: url(images/background.gif) no-repeat #a7cece top left;
}

#elixirs {
    border: thin solid #007e7e ;
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    width: 200px;
    text-align: center;
    line-height: 1;
    background-image: url(images/cocktail.gif);
    background-repeat: repeat-x;
    float: right;
}

#elixirs h2 {
    color: #000000;
}

#elixirs h3 {
    color: #d12c47;
 }

 #footer { 
     font-size: 50%;
     text-align: center;
     line-height: normal;
     margin-top: 30px;
 }

 .cd {
     font-style: italic;
 }

 .artist {
     font-weight: bold;
 }

#elixirs a:link {
    color: #007e7e;
}

#elixirs a:visited {
    color: #333333;
}

#elixirs a:hover {
    background: #f88396;
    color: #0d5353;
}

#directions a:link {
    color: #007e7e;
}

#directions a:visited {
    color: #333333;
}