/* @font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
} */

body {
    background-color: silver;
    font-family: "Bad Script" , Verdana, Geneva, Arial, sans-serif;
}

h1, h2 {
    color: #cc6600;
    border-bottom: thin dotted #FF0000;
    font-family: "Open Sans", sans-serif;
}

blockquote {
    font-style: italic;
}   
